.accueil_button > a{
    color: black;
    background-color: white;
}

body{
	font-family: arial;
	font-size: 16px;
	margin: 0;
	background: #fff;
	color: #000;
}

.wrapper_outer{
	height: 100vh;
	overflow: hidden;
}
.wrapper{
	height: 100%;
	overflow-x: hidden;
	perspective: 1px;
}

.parallele_section{
	box-sizing: border-box;
	min-height: 100vh;
	padding: 10vh 10vh;
	position: relative;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	overflow: hidden;
	transform-style: preserve-3d;
}
.parallele_bg{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center center;
	z-index: -1;
	min-height: 100%; 
	transform: translate3d(0,0,-1px) scale(1);
}
h2{
    
	color: #fff;
	margin: 0 0 10px;
	font-size: 100%;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	text-align: center;
	text-transform: uppercase;
}

.titree{
    font-size: 400%;
    background-color: #000;
    margin: 20px;
    padding: 20px;
    box-shadow: 10px 10px rgb(49, 39, 39);
}
a{
    text-decoration: none;
    color: grey;
    
}
section{
    background-color: black;
}
.AproposP img, .AproposP2 img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    transform: scale(1);
}
.AproposP{
    position: absolute;
    top:40%;
    right:20%;
}
.AproposP2{
    position: absolute;
    top:40%;
    left:20%;
}
.titree2{
    font-size: 312.5%;
    text-decoration: underline;
    color: white;
}
.titree2 a{
    color: white;
    text-shadow: 4px 4px grey;
}
.AproposP h3, .AproposP2 h3{
    font-size: 125%;
    color: white;
    text-align: center;
    text-decoration: overline 5px;
}

@media screen and (max-width: 1200px){
    .parallele_section{
        font-size: 50%;
    }
    .AproposP img, .AproposP2 img{
        height: 100px;
        width: 100px;
    }
    .AproposP{
        position: absolute;
        top:40%;
        right:1%;
    }
    .AproposP2{
        position: absolute;
        top:40%;
        left:1%;
    }
    h2{
        font-size: 10px;
    }
    .titre{
        font-size: 20px;
    }
    .titre2{
        font-size: 10px;
        position: absolute;
        top: 10;
    }
}