.container_intro{
    background-image: url(../img/McLaren.jpg);
    background-size: cover;
    background-position: center bottom -49px;
    margin: 40px;
    height: 430px;
    position: relative;
    top: 180px;
}
