@font-face {
    font-family: "logo_font";
    src: url("../police/Batrider\ Textured.ttf") format("truetype");
  }

html{
overflow-x : hidden;																											
background-color: #ffffff;
background-position: center;	
background-size: 200%;	
background-repeat: no-repeat;	
min-width: 20%;
min-height: 20%;
}

section{
    height: 800px;
}

header{
    background-image: url(../img/background.jpg) ;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1;
    top: 0;
    height: 188px;
}

.Titre h1{
text-align: left; /*Alignement du texte au centre*/
font-family:"logo_font", sans-serif; 	   		/*Police d'écriture*/
background-color: transparent;
color : white;
vertical-align: middle;
display: inline-block;
margin-top: 20px;
margin-left: 20px;
font-size: 50px;
}

img{
    max-height: 90%;
    max-width: 100%;
}

.logo{
    width: 180px;
    height: 100%;
    position: absolute;
    top: 0px;
    right:0;
}

a{
text-decoration: none;
}
/*------------------------------------------------------------------------------*/



body{
font-family: Verdana, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif , sans-serif;
margin: 0px;																													/*Marge*/
background:  no-repeat;
line-height:1.4																													/*Hauteur de la boite d'une ligne */
}

/*------------------------------------------------------------------------------*/


/*------------------------SECTION------------------------------------------------*/

/*------------------------------------------------------------------------------*/

nav > ul{
padding: 0px;
}
/*------------------------------------------------------------------------------*/


nav li{
list-style-type: none;
background-color: #000000;																						/*Style : none, pour enlever les tirrets ect*/
}

/*------------------------------------------------------------------------------*/
nav > ul > li{
float: left;																													/*position sur la page : gauche*/
position: relative;																												/*position relative*/
}

/*------------------------------------------------------------------------------*/
nav > ul::after{																													/*Faire les box il sera le dernier enfant de l'élément nav */
content: "";
display: table;
}

/*------------------------------------------------------------------------------*/
.submenu{
display: none;
}

/*------------------------------------------------------------------------------*/
nav input[type= checkbox]{
display: none;
}

/*------------------------------------------------------------------------------*/
nav label{
display: none;
}

/*------------------------------------------------------------------------------*/
nav a{
display: inline-block;
text-decoration: none;
}

/*------------------------------------------------------------------------------*/
nav > ul > li > a{
padding: 13px 50px;
color : #ffffff;
}

/*------------------------------------------------------------------------------*/
nav li:hover .submenu{																				/*Hover c pour l'animation des bouton*/
display: inline-block;
position: absolute;
top: 100%;													
left: 0px;
padding: 0px;
z-index: 1000 ;																					/* Pour couvrir les autres éléments (groupe emboité)*/
}

/*------------------------------------------------------------------------------*/
.submenu li{
border-bottom: 1px solid #00000028 ;
background-color: #ffffff;
}

/*------------------------------------------------------------------------------*/
.submenu li a{
padding: 15px 30px;																			/*Espacement */
font-size: 13px;
color :#222533;
width: 270px;																				/*Largeur*/
}

.submenu a:hover{
    color: white;
    background-color: black;
}
/*------------------------------------------------------------------------------*/
nav input[type=checkbox]{
display: none;
}

/*------------------------------------------------------------------------------*/
nav label{
display: none;
}

/*------------------------------------------------------------------------------*/
.submenu{
background-color: rgb(255, 255, 255);
display: none;
}

/*------------------------------------------------------------------------------*/
nav input[type=checkbox]:checked ~ ul{																/*Crée la boite pour mettre le submenu dedans afin que quand la taille décran est en dessous du seuil cela remplace*/
display: block;
}

/*----------------Quand ke screen est en dessous de 900px les conditions ci dessous s'éffectue ----------------------------------*/

@media screen and (max-width: 900px){																	/*Pour les boites emboités*/ /*Restriction fenêtre 900px*/
    .menu-mobile{																						/*Menu pour les fenetres ayant moins de 900px*/		
    display: block;																					/*disposition boite*/
    color: white;																			
    background-color: rgba(235, 104, 133, 0.103);												 /*couleur via rgba pour avoir l'opacité ect*/
    text-align: center;																							
    padding: 12px 0px;
    }
    nav ul{
    display: none;
    }
    nav ul li, nav ul li a{
    width: 100%;
    text-align: center;
    }
    nav ul li a, nav ul li:hover a{
    padding: 10px 0px;
    width: 100%;
    }
    nav li:hover .submenu{
    display: block;
    position: static;
    width: auto;
    }

    ul li a:hover{
    background-color: #ffffff;
    color: #000;
    transition: 0.3s ease;																			/*Temps de transition : 0,6s*/
    }

    .logo{
        width: 100px;
        height: 70%;
        top: 0px;
        right:0;
    }
    .Titre h1{
        margin-top: 20px;
        margin-left: 20px;
        font-size: 40px;
    }
}
ul li a:hover{
    background-color: #ffffff;
    color: #000;
    transition: 0.3s ease;																			/*Temps de transition : 0,6s*/
    }
    
/*------------------------------------------------------------------------------*/

                                                                                    /*Propriété pour javascript, c'est le css de l'affichage du h1*//*Trouvé sur un site internet pour animé les lettres*/

/*------------------------------------------------------------------------------*/

/* FOOTER  */

.footer{
    background-color: rgb(0, 0, 0);
    width: 100%;  
    color: white;
    padding: 4px 15%;
    display: flex;
    font-size: 81.25%;
    justify-content: center;
    flex: 1;
    margin-top: 40px;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer div{
    text-align: center;
}

.column-2{
    flex-grow: 3;
}


@media (max-height:900px){
header { padding-top:auto; }
}



